<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="FunctionAppEndpoint" value="https://dotnetstammtisch.azurewebsites.net/api/IngestionFunction?code=hregIYFBGwZG4AWHXF2Mfu5aiiko7rZJiEqjoI6aPmE50psq4Hh1ng=="/>
  </appSettings>
</configuration>